<h1><%= @title = 'Edit ' + h(@model.name) %></h1>

<% form_for(@model) do |f| %>
  <%= f.error_messages %>


  <%= render :partial => 'fields', :locals => {:f => f} %>

  <p>
    <%= button_submit %>
  </p>
<% end %>


<h2>All tracked <%= h @model.name %> assets.</h2>

<table>
	<thead>
  <tr>
	<td>Person</td>
	<td>Serial</td>
	<td>Notes</td>
	<td>Actions</td>
  </tr>
	</thead>
<tbody>
<% for asset in @model.assets %>
  <tr>
    <td><%= link_to h(asset.user.login), asset.user %></td>
    <td><%= link_to h(asset.serial), asset %></td>
    <td><%= link_to h(asset.notes), asset %></td>
    <td><%= link_to image_tag('/images/icons/pencil.png'), edit_asset_path(asset) %>
<%= link_to image_tag('/images/icons/bin_closed.png'), asset, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>


<%= link_to '[all models]', models_path %>