<%= button_function :container => 'new_model_container', :text_shown => 'Add', :text_hidden => "Add", :class => 'new_button' %>


<div class="explanation">
	<h1><%= @title = 'Models.'%></h1>
	<p>An "model" is a specific part number for a given manufacturer. A new Dell XPS123 laptop, for example, would have "Dell" as the manufacturer and "XPS123" as the model name.</p>
</div>


<div id="new_model_container" style="display:none">
  <div>
    <% remote_form_for @model do |f| %>
		<%= render :partial => 'models/fields', :locals => {:f => f}%>
		<%= button_submit %>
	<% end %>
  </div>
</div>

<h2>All equipment models.</h2>

<table>
	<thead>
  <tr>	
	<td>Manufacturer</td>
	<td>Model</td>
	<td>Type</td>
	<td>Assets</td>
	<td>Actions</td>
  </tr>
</thead>
<tbody id="models">
<% for model in @models.sort {|a,b| a.manufacturer == b.manufacturer ? a.name <=> b.name : a.manufacturer.name <=> b.manufacturer.name} %>
	<%= render :partial => 'models/row', :locals => {:model => model} %>
<% end %>
</tbody>
</table>

<p class="count">You have <%= pluralize @models.size, 'model' %>.</p>
