<%= button_function :container => 'new_user_container', :text_shown => 'Add', :text_hidden => "Add", :class => 'new_button' %>


<div class="explanation">
	<h1><%= @title = 'People.'%></h1>
	<p>People are responsible for taking care of assets assigned to them. Please use a valid email address and unique name as they will be emailed when assets are assigned and unassigned to them.</p>
</div>


<div id="new_user_container" style="display:none">
  <div>
    <% remote_form_for @user do |f| %>
		<%= render :partial => 'users/fields', :locals => {:f => f}%>
		<%= button_submit %>
	<% end %>
  </div>
</div>



<h2>Here's everyone.</h2>

<table>
	<thead>
  <tr>
	<td>Name</td>
	<td>Email</td>
	<td>Assets</td>
	<td>Actions</td>
  </tr>
</thead>
<tbody id="users">
<% for user in @users %>
	<%= render :partial => 'users/row', :locals => {:user => user} %>
<% end %>
</tbody>
</table>

<p class="count">You have <%= pluralize @users.size, 'person' %>.</p>

