  <tr id="location_<%= location.id %>" class="<%= cycle 'odd', 'even' %>">
    <td><%= link_to h(location.name), edit_location_path(location) %></td>
    <td><%= location.assets.count %></td>
    <td>
	<%= link_to image_tag('/images/icons/pencil.png'), edit_location_path(location) %>
<%= link_to_remote image_tag('/images/icons/bin_closed.png'), :url => location_url(location), :method => :delete %></td>
  </tr>