<h1><%= @title = 'Edit ' + h(@location.name) %></h1>

<% form_for(@location) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'fields', :locals => {:f => f} %>

  <p>
    <%= button_submit %>
  </p>
<% end %>


<%= link_to '[all locations]', locations_path %>