<h1><%= @title = 'Edit ' + h(@location.name) %></h1>

<% form_for(@location) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'fields', :locals => {:f => f} %>

  <p>
    <%= button_submit %>
  </p>
<% end %>


<h2>All assets at this location.</h2>
<table>
	<thead>
  <tr>
	<td>Manufacturer</td>
	<td>Model</td>
	<td>Type</td>
	<td>Serial</td>
	<td>Notes</td>
	<td>Actions</td>
  </tr>
	</thead>
	<tbody>

<% for asset in @location.assets %>
  <tr class="<%= cycle 'odd', 'even' %>">
    <td><%= link_to h(asset.model.manufacturer.name), edit_manufacturer_path(asset.model.manufacturer) %></td>
    <td><%= link_to h(asset.model.name), edit_model_path(asset.model) %></td>
    <td><%= link_to h(asset.model.kind.name), edit_kind_path(asset.model.kind) %></td>
    <td><%= link_to h(asset.serial), edit_asset_path(asset) %></td>
    <td><%= link_to h(asset.notes), edit_asset_path(asset) %></td>
    <td><%= link_to image_tag('/images/icons/pencil.png'), edit_asset_path(asset) %>
<%= link_to image_tag('/images/icons/bin_closed.png'), asset, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
	</tbody>
</table>



<%= link_to '[all locations]', locations_path %>