<div class="explanation">
	A "location" represents a physical place, such as "Headquarters", "Server Room" or "Home". Assets get tied to a single location.
</div>


<h1><%= @title = 'Locations'%></h1>

<%= link_to image_tag('/images/icons/add.png'), new_location_path %>


<table>
	<thead>
  <tr>
	<td>Name</td>
	<td>Assets</td>
	<td>Actions</td>
  </tr>
</thead>
<tbody>
<% for location in @locations %>
  <tr>
    <td><%= link_to h(location.name), location %></td>
    <td><%= location.assets.count %></td>
    <td>
	<%= link_to '[new asset]', new_asset_path() %>
	<%= link_to image_tag('/images/icons/pencil.png'), edit_location_path(location) %>
<%= link_to image_tag('/images/icons/delete.png'), location, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />
